<div class="w-full">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="27"
    height="27"
    viewBox="0 0 27 27"
    fill="none">
    <path
      d="M22.9089 5.38568H4.19108C3.04247 5.38568 2.11133 6.31682 2.11133 7.46543V19.9439C2.11133 21.0926 3.04247 22.0237 4.19108 22.0237H22.9089C24.0575 22.0237 24.9886 21.0926 24.9886 19.9439V7.46543C24.9886 6.31682 24.0575 5.38568 22.9089 5.38568Z"
      stroke="#2A2B2A"
      stroke-width="1.60754" />
    <path
      d="M2.11133 11.6249H24.9886"
      stroke="#2A2B2A"
      stroke-width="1.60754" />
  </svg>
  <span class="custom-product-top1-text1">4 interest-free installments, or from
    <b>$54.15</b>/mo with</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 69 17"
    fill="none"
    class="custom-product-top1-svg">
    <g clip-path="url(#clip0_86_3413)">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M45.1338 0.598022C43.7498 0.598022 42.6279 1.70382 42.6279 3.0679V14.3009C42.6279 15.6649 43.7498 16.7708 45.1338 16.7708H65.555C66.9389 16.7708 68.0608 15.6649 68.0608 14.3009V3.0679C68.0608 1.70382 66.9389 0.598022 65.555 0.598022H45.1338ZM48.7108 11.892V9.04478H50.5282C52.1887 9.04478 53.0715 8.12722 53.0715 6.7367C53.0715 5.34618 52.1887 4.51377 50.5282 4.51377H47.54V11.892H48.7108ZM48.7108 5.61105H50.2595C51.3343 5.61105 51.8623 6.04617 51.8623 6.77455C51.8623 7.50291 51.3535 7.93804 50.3074 7.93804H48.7108V5.61105ZM55.1358 12.0434C56.0284 12.0434 56.6138 11.6556 56.8825 10.9934C56.9593 11.7312 57.4105 12.1096 58.3894 11.8542L58.3991 11.0691C58.0054 11.1069 57.9286 10.965 57.9286 10.5583V8.62858C57.9286 7.49345 57.1705 6.82183 55.7693 6.82183C54.3872 6.82183 53.5906 7.50291 53.5906 8.65695H54.6656C54.6656 8.10831 55.0591 7.77724 55.7501 7.77724C56.4794 7.77724 56.8154 8.08939 56.8057 8.62858V8.87452L55.5677 9.00695C54.176 9.15828 53.4083 9.67855 53.4083 10.5867C53.4083 11.3339 53.9457 12.0434 55.1358 12.0434ZM55.3757 11.1921C54.7711 11.1921 54.5313 10.8704 54.5313 10.5488C54.5313 10.1137 55.0304 9.91503 56.0092 9.80153L56.7771 9.7164C56.729 10.5488 56.1628 11.1921 55.3757 11.1921ZM61.9541 12.261C61.4647 13.4339 60.6776 13.7839 59.4492 13.7839H58.9212V12.8191H59.4876C60.1593 12.8191 60.4856 12.6109 60.8409 12.015L58.6622 6.97318H59.8713L61.4263 10.6529L62.8082 6.97318H63.9887L61.9541 12.261Z"
        fill="#5A31F4" />
      <path d="M5.1674 7.70674C3.5642 7.36397 2.84997 7.22984 2.84997 6.62094C2.84997 6.04823 3.33332 5.76295 4.3 5.76295C5.15015 5.76295 5.77159 6.12914 6.22904 6.84661C6.26355 6.90198 6.33476 6.92113 6.39302 6.89133L8.19691 5.99289C8.26164 5.96094 8.28538 5.88005 8.2487 5.8183C7.49995 4.53877 6.11683 3.83832 4.29567 3.83832C1.90272 3.83832 0.416016 5.00076 0.416016 6.84875C0.416016 8.8117 2.22638 9.30776 3.83176 9.65053C5.43712 9.9933 6.1535 10.1274 6.1535 10.7363C6.1535 11.3452 5.63133 11.6326 4.58912 11.6326C3.62676 11.6326 2.91255 11.1983 2.48099 10.3552C2.44864 10.2935 2.3731 10.2679 2.31054 10.2999L0.510958 11.1791C0.448381 11.2111 0.422488 11.2856 0.454855 11.3495C1.16907 12.7653 2.6342 13.5615 4.59128 13.5615C7.08351 13.5615 8.58961 12.4182 8.58961 10.5128C8.58961 8.6073 6.77062 8.05377 5.1674 7.711V7.70674Z" fill="#5A31F4" />
      <path d="M14.8336 3.83837C13.8108 3.83837 12.9067 4.19606 12.2572 4.83262C12.2162 4.87095 12.1493 4.84327 12.1493 4.78792V0.723634C12.1493 0.653377 12.0932 0.598022 12.022 0.598022H9.76502C9.69381 0.598022 9.6377 0.653377 9.6377 0.723634V13.338C9.6377 13.4083 9.69381 13.4636 9.76502 13.4636H12.022C12.0932 13.4636 12.1493 13.4083 12.1493 13.338V7.80472C12.1493 6.73597 12.9801 5.9163 14.1 5.9163C15.2198 5.9163 16.0312 6.71894 16.0312 7.80472V13.338C16.0312 13.4083 16.0873 13.4636 16.1585 13.4636H18.4155C18.4867 13.4636 18.5428 13.4083 18.5428 13.338V7.80472C18.5428 5.47985 16.9978 3.84051 14.8336 3.84051V3.83837Z" fill="#5A31F4" />
      <path d="M23.1256 3.47858C21.9001 3.47858 20.7479 3.84689 19.9234 4.38127C19.8675 4.41748 19.8481 4.49198 19.8826 4.54947L20.8772 6.22499C20.914 6.2846 20.9916 6.3059 21.052 6.26971C21.6778 5.89713 22.3941 5.70339 23.1256 5.70765C25.0956 5.70765 26.5434 7.07874 26.5434 8.89051C26.5434 10.434 25.3848 11.5773 23.9153 11.5773C22.7179 11.5773 21.8871 10.8897 21.8871 9.91883C21.8871 9.36316 22.1266 8.90755 22.7502 8.58608C22.8148 8.55201 22.8387 8.47324 22.7999 8.41149L21.8613 6.84454C21.831 6.79346 21.7663 6.77004 21.7079 6.79131C20.45 7.25118 19.5674 8.35826 19.5674 9.84432C19.5674 12.0926 21.3822 13.7702 23.9133 13.7702C26.8694 13.7702 28.9947 11.7498 28.9947 8.8522C28.9947 5.74597 26.522 3.47644 23.1214 3.47644L23.1256 3.47858Z" fill="#5A31F4" />
      <path d="M35.5964 3.82134C34.455 3.82134 33.4365 4.23649 32.6921 4.96887C32.6511 5.00932 32.5842 4.97952 32.5842 4.92417V4.04276C32.5842 3.9725 32.5282 3.91714 32.4569 3.91714H30.2582C30.187 3.91714 30.1309 3.9725 30.1309 4.04276V16.638C30.1309 16.7083 30.187 16.7636 30.2582 16.7636H32.5151C32.5864 16.7636 32.6426 16.7083 32.6426 16.638V12.5077C32.6426 12.4523 32.7095 12.4247 32.7503 12.4609C33.4927 13.1421 34.4743 13.5403 35.5987 13.5403C38.2462 13.5403 40.3111 11.4262 40.3111 8.67974C40.3111 5.93331 38.244 3.81921 35.5987 3.81921L35.5964 3.82134ZM35.1715 11.407C33.6653 11.407 32.5238 10.2254 32.5238 8.6627C32.5238 7.10002 33.663 5.91842 35.1715 5.91842C36.6797 5.91842 37.8168 7.08086 37.8168 8.6627C37.8168 10.2446 36.6947 11.407 35.1693 11.407H35.1715Z" fill="#5A31F4" />
    </g>
    <defs>
      <clipPath id="clip0_86_3413">
        <rect
          width="67.8088"
          height="16.3676"
          fill="white"
          transform="translate(0.336914 0.598022)" />
      </clipPath>
    </defs>
  </svg>
  <p class="custom-product-top1-text2">View sample plans</p>
</div>