<div class="w-full custom-product-top2-board">
  <div
    class="custom-product-top2-row1">Earn 630 Points</div>
  <div class="custom-product-top2-row2">
    <div class="custom-product-top2-col-1">#1 Driver in Golf®</div>
    <div class="custom-product-top2-col-2">Write a review</div>
  </div>
</div>