<div class="custom-form-new">
  <div class="custom-form-new-title">
    <span class="custom-form-new-choose-name">choose a {{ name }}</span>
    {% if condition == 1 %}

      <svg
        class="custom-form-new-choose-svg"
        xmlns="http://www.w3.org/2000/svg"
        width="10"
        height="10"
        viewBox="0 0 10 10"
        fill="none">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M5.015 9.94016C7.63586 9.94016 9.76047 7.81554 9.76047 5.19469C9.76047 2.57384 7.63586 0.449219 5.015 0.449219C2.39415 0.449219 0.269531 2.57384 0.269531 5.19469C0.269531 7.81554 2.39415 9.94016 5.015 9.94016ZM5.58756 8.49598C5.74117 8.43707 5.94598 8.35199 6.20327 8.23979L6.28918 7.85317C6.24432 7.87602 6.17323 7.90273 6.07505 7.93262C5.97603 7.96252 5.88843 7.97798 5.81015 7.97798C5.64426 7.97798 5.52704 7.9476 5.46018 7.88727C5.39247 7.82693 5.35904 7.71338 5.35904 7.54695C5.35904 7.48099 5.3692 7.38283 5.38993 7.25429C5.41109 7.1257 5.43437 7.0107 5.4606 6.91019L5.78095 5.65728C5.81226 5.54181 5.83384 5.41605 5.84527 5.27814C5.85669 5.14069 5.86262 5.04439 5.86262 4.98969C5.86262 4.72602 5.77841 4.51144 5.61126 4.34641C5.44325 4.18185 5.20458 4.09863 4.89525 4.09863C4.72386 4.09863 4.54189 4.13229 4.34935 4.20055C4.1568 4.26786 3.95495 4.34921 3.74421 4.44411L3.65915 4.83121C3.72094 4.80503 3.79626 4.77838 3.88301 4.74893C3.97061 4.72041 4.05609 4.70685 4.13904 4.70685C4.30873 4.70685 4.42256 4.73771 4.48308 4.80082C4.54274 4.86393 4.57278 4.97613 4.57278 5.13601C4.57278 5.22578 4.56348 5.32442 4.54401 5.43195C4.52454 5.53854 4.5 5.65307 4.47165 5.77369L4.14961 7.03033C4.12126 7.16264 4.10052 7.28046 4.0874 7.3852C4.07471 7.48987 4.06836 7.59271 4.06836 7.69325C4.06836 7.95181 4.15427 8.16447 4.32692 8.33233C4.49958 8.50018 4.74206 8.58431 5.05351 8.58431C5.25621 8.58431 5.43437 8.55489 5.58756 8.49598ZM5.60702 3.38429C5.81734 3.38429 5.99719 3.30762 6.14657 3.15428C6.29595 3.00094 6.37085 2.81487 6.37085 2.59655C6.37085 2.37916 6.29595 2.19216 6.14657 2.03741C5.99761 1.88221 5.81734 1.80507 5.60702 1.80507C5.39713 1.80507 5.21601 1.88221 5.06536 2.03741C4.91598 2.19216 4.83981 2.37916 4.83981 2.59655C4.83981 2.8144 4.91556 3.00094 5.06536 3.15428C5.21601 3.30762 5.39713 3.38429 5.60702 3.38429Z"
          fill="#C2C2C2" />
      </svg>
    {% else %}
      <span class="custom-form-new-choose-star">*</span>
    {% endif %}
  </div>
  <div>
    <select class="custom-form-new-select">
      <option
        value=""
        disabled
        hidden
        selected>Choose Option</option>
      <option value="name">{{ name }}</option>
    </select>
    <span>
      <svg
        class="custom-form-new-select-up"
        xmlns="http://www.w3.org/2000/svg"
        width="8"
        height="5"
        viewBox="0 0 8 5"
        fill="none">
        <path d="M0 3.70798L3.53386 0.310386L7.11821 3.70798L6.41142 4.37793L3.53386 1.65028L0.706772 4.37793L0 3.70798Z" fill="#161616" />
      </svg>
      <svg
        class="custom-form-new-select-down"
        xmlns="http://www.w3.org/2000/svg"
        width="8"
        height="5"
        viewBox="0 0 8 5"
        fill="none">
        <path d="M0 1.08206L3.53386 4.47965L7.11821 1.08206L6.41142 0.412109L3.53386 3.13976L0.706772 0.412109L0 1.08206Z" fill="#161616" />
      </svg>
    </span>

  </div>
</div>