<div class="section relative section--full-width{% unless section.settings.section_height == "tight" %} section--padded-{{ section.settings.section_height }}{% endunless %}{% if section.settings.dividers != "none" %} {{ section.settings.dividers }}{% endif %}"{% if settings.animations_enabled != "disabled" and section.settings.prevent_animation == false %} data-cc-animate{% endif %}>
  {%- unless section.settings.full_width -%}
    <div class="container">
  {%- endunless -%}

  {{- section.settings.custom_liquid -}}

  {%- unless section.settings.full_width -%}
    </div>
  {%- endunless -%}
</div>

{% schema %}
{
  "name": "Custom HTML/Liquid",
  "tag": "section",
  "class": "cc-custom-liquid",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom code",
      "default": "Add HTML or Liquid code to create advanced customizations."
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "label": "Section height",
      "id": "section_height",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "tight",
          "label": "Tight"
        },
        {
          "value": "xsmall",
          "label": "Extra small"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        }
      ],
      "default": "default"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Make section full width",
      "default": false
    },
    {
      "type": "select",
      "id": "dividers",
      "label": "Dividing lines",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "border-top",
          "label": "Above"
        },
        {
          "value": "border-bottom",
          "label": "Below"
        },
        {
          "value": "border-top border-bottom",
          "label": "Above and below"
        }
      ],
      "default": "none"
    },
    {
      "type": "header",
      "content": "SEO"
    },
    {
      "type": "checkbox",
      "id": "prevent_animation",
      "label": "Load the section without animation",
      "info": "If this section is visible when the page loads, enabling this setting can reduce CLS and may improve site speed scores. [Read more](https://cleancanvas.co.uk/support/enterprise/performance-guide)",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Custom HTML/Liquid"
    }
  ],
  "disabled_on": {
    "groups": [
      "aside"
    ]
  }
}
{% endschema %}
